<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/home.css">
    <title>Challage Chap 3</title>
</head>
<body>
<section id="sesi1">
    
    <nav>
        <div class="logo">
            <h2>LOGO</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">WORK</a></li>
                <li><a href="">CONTACT</a></li>
                <li><a href="">ABOUT ME</a></li>
            </ul>
        </div>
        
        <div class="user">
            <ul>
                <li><a href="">SIGN UP</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
        </div>
    </nav>

        <div class="banner">
            <div class="wrapper">
                <h1>PLAY TRADITIONAL GAME</h1>
                <p>Experiance new traditional game play</p>
                <button>
                    <span>PLAY NOW</span>
                </button>               
            </div>
        </div>

        <div class="story">
            <h4>The Story</h4>
            <h4>⟱</h4>
        </div>
    
</section>

<section id="sesi2">
    <div class="kiri">
        <h1>THE GAMES</h1>
        <p>What's so special?</p>
    </div>

    <div class="kanan">
        <img src="assets/rockpaperstrategy-1600.jpg">
    </div>
</section>

<section id="sesi3">

    <div class="box1">
        <p>What's so special?</p>
    </div>
    <div class="box2">
        <h1>FEATURES</h1>
    </div>
    <div class="box3">
        <p>TRADITIONAL GAMES</p>
    </div>
    <div class="box4">
        <p>If you miss your childhood, we provide many traditional games here</p>
    </div>
    <div class="box5">
        <p>GAME SUIT</p>
    </div>
    <div class="box6">
        <p>TBD</p>
    </div>

</section>

<section id="sesi4">

    <div class="computer">
        <p>Can My Computer Run this game?</p>
    </div>

    <div class="sistem">
        <h1>SYSTEM REQUIREMENTS</h1>
    </div>

    <div class="box1">
        <div class="os">
            <h1>OS:</h1>
            <p>Windows 7 64 bit Only (No OSX support at this time</p>
        </div>
    </div>

    <div class="box2">
        <div class="processor">
            <h1>PROCESSOR:</h1>
            <p>Inter Core 2 Duo @2.4 GHZ or AMD Athlon X2 @2.8 GHZ</p>
        </div>
    </div>
    
    <div class="box3">
        <div class="memori">
            <h1>MEMORY:</h1>
            <p>4 GB RAM</p>
        </div>
    </div>

    <div class="box4">
        <div class="storage">
            <h1>STORAGE:</h1>
            <p>8 GB available space</p>
        </div>
    </div>

    <div class="box5">
        <div class="graphic">
            <h1>GRAPHICS:</h1>
            <p>NVIDIA GeForce GTX 660 2GB Or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
        </div>
    </div>

</section>

<section id="sesi5">

    <div class="kiri">
        <h1>TOP SCORE</h1>
        <p>This top score from various games provided on this platform</p>
        <button>see more</button>
    </div>

    <div class="kanan">
        <div class="evan">
            <div class="nama1">
                <h1>Evan Lahti</h1>
            </div>
            <div class="job1">
                <p>PC Gamer</p>
            </div>
            <div class="comment1">
                <p>"One of my gaming highlight of the year"</p>
            </div>
            <div class="tanggal1">
                <p>October 18,2018</p>
            </div>
        </div>
    
        <div class="jada">
            <div class="nama2">
                <h1>Jada Griffin</h1>
            </div>
            <div class="job2">
                <p>Nerdreactor</p>
            </div>
            <div class="comment2">
                <p>“The next big thing in the world of streaming and survival games.”</p>
            </div>
            <div class="tanggal2">
                <p>December 21, 2018</p>
            </div>
        </div>
    
        <div class="aaron">
            <div class="nama3">
                <h1>Aaron Williams</h1>
            </div>
            <div class="job3">
                <p>Uproxx</p>
            </div>
            <div class="comment3">
                <p>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
            </div>
            <div class="tanggal3">
                <p>December 24, 2018</p>
            </div>
        </div>
    </div>    

</section>

<section id="sesi6">

    <div class="kiri">
        <img src="assets/image.png">
    </div>

    <div class="kanan">
        <div class="content1">
        <p>Want to stay in touch?</p>
        </div>
        <div class="content2">
        <h1>NEWSLETTER SUBCRIBE</h1>
        </div>
        <div class="content3">
        <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
        </div>
        <div class="email">
        <h1>your email adress</h1>
        <p>yoremail@binar.co.id</p>
        </div>
        <div class="subs">
        <button>Subscribe now</button>
        </div>
    </div>

</section>

<footer>


</footer>

</body>
</html>